@model BookShop.Models.Book

@{
    ViewData["Title"] = Model.Bookname;
}

<h1>@Model.Bookname</h1>
<p><strong>@Model.Lastname</strong></p>
<p>@Model.Year</p>
<p>Цена: <strong>@Model.Price</strong></p>
<form action="@Url.Action("AddItem", "Order")" method="post">
    <input type="hidden" name="id" value="@Model.Id"/>
    <button class="btn btn-success" type="submit">В корзину</button>
</form>
